{% extends 'layout/services_layout.html' %}
{% block title %}To Do Glist{% endblock %}
{% block nav %}
{% include 'parts/nav_inside.html' with data%}
{% endblock %}

{% block content %}

<section id="services">
    <section class="make_post">
        <!--<div style="color: red; font-size: 25px">-->
            <!--{{post_data | json_encode}}-->
        <!--</div>-->
        <form name="make_post" id="make_post_id">
            <div>
                <input type="text" name="title" placeholder="Title" value="{{post_data.post_title}}" required/>
            </div>
            <div>
                <input type="text" name="post_link" placeholder="Post link" value="{{post_data.post_link}}" required/>
            </div>
            <div>
                <textarea placeholder="Post Body" name="post_body" rows="30" cols="50" required>{{post_data.post_body}}</textarea>
            </div>
            <div class="post_pref">
                <label for="checkbox_publish">Publish?</label>
                <input type="checkbox" name="publish" id="checkbox_publish" value="Publish"  />
                <button>Make post</button>
            </div>
        </form>
    </section>
</section>

{% endblock %}