{% block nav_blog %}
<p class="clopener">
    <i class="fa fa-th"></i>
</p>
<nav id="inside">
    <ul class="">
        <li class=""><a href="/" title="Home - Shemesh.info">{{data.nav_home}}</a></li>
        <li class=""><a href="#" title="Tests">{{data.nav_tests}}</a></li>
        <li class=""><a href="/blog" title="Blog">{{data.nav_blog}}</a></li>
        <li class=""><a href="/services" title="Services">{{data.nav_services}}</a></li>
        <li class=""><a href="/about" title="About">{{data.nav_about}}</a></li>
    </ul>
</nav>
{% endblock %}