$about_color: #008CBA;

body.about{
  background: #f9f6f1;
}

hr{
  border: solid #DDDDDD;
  border-width: 1px 0 0;
  clear: both;
  margin: 1.11111rem 0 1.05556rem;
  height: 0;
}

.about h1, .about p, .about{
  color: $about_color;
  margin-left: 20px;
}

#about{
  width: 550px;
  margin: 140px auto 0;
  background: #fff;
}

.about .nav_text{
  color: #000;
}