<!doctype html>
<html lang="en">
<head>
    <title>shemesh.info</title>
    <meta name="description" content="{{data.meta_description}}">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>

    <link rel="stylesheet" type="text/css" href="/css/app.css?23">

    {% block js_include %}
    {% include '../parts/js_include_prod.html' %}
    {% endblock %}
</head>
<body class="{{css}}">
<header>
    {% block nav %}
    {% include '../parts/nav.html' with data%}
    {% endblock %}
</header>


{% block content %}{% endblock %}




{% block track %}
{% include '../parts/tracking.html' with data%}
{% endblock %}

</body>
</html>