<!doctype html>
<html lang="en">
<head>
    <title>shemesh.info </title>
    <meta name="description" content="{{data.meta_description}}">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/app.css">

    {% block js_include %}
    {% include '../parts/js_include.html' %}
    {% endblock %}
</head>
<body class="{{css}}">
<header>

</header>

<aside id="aside_nav">
    {% block nav %}
    {% include '../parts/nav_inside.html' with data%}
    {% endblock %}
</aside>


{% block content %}{% endblock %}


</body>
</html>